<div class="icons" style="margin-top: 0px; margin-bottom: 10px;">
    <i class="material-icons" matTooltip="Remind me">notification_important</i>
    <i class="material-icons" matTooltip="Collaborator">person_add_alt_1</i>
    <i class="material-icons" matTooltip="Change Color" [matMenuTriggerFor]="ChangeColor">color_lens</i>

    <label for="image">
        <input type="file" name="image" accept="image/*" id="image" style="display:none;" />
        <i class="material-icons" matTooltip="Add Image">image</i>
    </label>
    <i class="material-icons" matTooltip="Archive" (click)="SetArchive()">archive</i>
    <i class="material-icons" matTooltip="More" [matMenuTriggerFor]="moremenu">more_vert</i>
    <mat-menu #moremenu="matMenu" class="account-menu">
        <button mat-menu-item style="font-size: 17px;">Add Label</button>
        <button mat-menu-item style="font-size: 17px;" (click)="DeleteNote()">Delete Note</button>
    </mat-menu>
</div>
<mat-menu #ChangeColor="matMenu" style="margin: 0px; padding: 2px;">
    <div style="display: flex;" *ngFor="let colorline of Colors">
        <div *ngFor="let color of colorline" style="padding: 5px;">
            <button [ngStyle]="{ 'background-color': color.color}" mat-fab style="max-width: 30px; max-height: 30px; box-shadow: none; border: 1px solid gray;"  (click)="SetColor(color.color)"></button>
        </div>
    </div>
</mat-menu>