<div class="icons" style="margin-top: 0px; margin-bottom: 10px;">
    <i class="material-icons" matTooltip="Remind me">notification_important</i>
    <i class="material-icons" matTooltip="Collaborator">person_add_alt_1</i>
    <i class="material-icons" matTooltip="Change Color">color_lens</i>

    <label for="image">
        <input type="file" name="image" accept="image/*" id="image" style="display:none;" />
        <i class="material-icons" matTooltip="Add Image">image</i>
    </label>
    <i class="material-icons" matTooltip="Archive">archive</i>
    <i class="material-icons" matTooltip="More">more_vert</i>
</div>
