<div class="mainContainer">
    <mat-card class="mainCard">
        <div>
            <h3 class ="header">
                <span style="color: blue;">F</span>
                <span style="color:red;">u</span>
                <span style="color:orangered;">n</span>
                <span style="color: green;">d</span>
                <span style="color: blue;">o</span>
                <span style="color: red;">o</span>
            </h3>
            </div>
        <div class="title">
            <h2>Account Recovery</h2>
        </div>
        <div class="sub-title">
            <h3>This helps show that this account<br>really belongs to you</h3>
        </div>
        <div>
            <form class="formContainer" [formGroup]="ForgotForm">
                <div class="RowContainer">
                    <div class=emailId>
                    <mat-form-field appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="ForgotForm.hasError('required','email')">Email Id is required</mat-error>
                        <mat-error *ngIf="ForgotForm.hasError('email','email')">Invalid EmailId</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="buttonContainer">
                        <a mat-button href="/Login">Go Back</a>
                        <button mat-flat-button color="primary" class=nextButton [routerLink]="['/reset-password']">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>
