$color: #1a73e8;
.mainContainer
{
    display: flex;
    flex-flow:row;
    justify-content: center;
}
.mainCard
{
    width: 35%;
    margin-top: 30px;
}
.emailId
{
    margin-left:25px;
}
.mat-label
{
    color:$color;
}
.title
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
.sub-title
{
    @extend .title
}
.header
{
    @extend .title
}
.mat-form-field
{
width: 90%;
margin-left: 10px;
}

.buttonContainer
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right:17px;

a
{
    padding-left: 10px;
    color:$color;
}
}

.nextButton
{
    background-color: $color;
    color:white;
    margin-right: 13px;
}

.forgotPassword
{
   color: #1a73e8;
   padding-left: 10px;
}
.show-password
{
    padding-left: 10px;
}

@media screen and (max-width: 553px) {

        .buttonContainer
        {
            display: flex;
            justify-content: space-between;
        }
        .mainCard
        {
         margin:0px;
         padding:0px;
         transition: none;
         box-shadow: none;
         width:90%;
        }
}

