$CommonColor:#1a73e8;
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 40px 36px;
    width: 50%;
    position: relative;
    min-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.formContent{
    display: flex;
    flex-direction: column;
    width: 65%;
}
span{
    font-size: 25px;
    font-weight: 600;
}
h1{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
header{
    margin-top: 30px;
    margin-left: 10px;
}

.input-div{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
}
mat-form-field{
    width: 50%;
    margin-right: 10px;
}
.email{
    width: 99%;
}

.image-div{
    margin-left: 30px; 
}
.nextDiv{
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.hint{
    margin-left: 20px;
    margin-top: -5px;
    width: 70%;
    margin-bottom: 20px;
}
.Signin{
    font-family: "Google Sans",Arial,sans-serif;
    font-size: 14px;
    color: $CommonColor;
    font-weight: bolder;
    &:hover{
            color: #174ea6;
    }
  
}
.emailId{
    @extend .Signin
}
.next{
    background-color: $CommonColor;
    color: white;
    width: 20%;
}
p{
    text-align: center;
    font-size: 16px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    width: 70%;
}
.para{
    display: flex;
    justify-content: center;
}
mat-hint{
    font-size: 14px;
}
mat-icon{
    font-size: 18px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    margin-top: -10px;
}
.password{
    padding-bottom: 0px !important;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
::ng-deep .mat-form-field-suffix {
    position:unset !important; 
}
@media screen and (max-width:900px) {
    .image-div{
        display: none;
    }
    .mainContainer{
        justify-content: unset;
        min-width: 450px;   
    }
    .formContent{
        width:100%;
    }

}
@media screen and (max-width:600px) {
    .mainContainer{
            padding: 0px;
    }
    .input-div{
        flex-wrap: wrap;
    }
    mat-form-field{
         width: 100%;
    }
    mat-card {
        transition: none !important;
        box-shadow: none !important;
    }
    .nextDiv{
        margin-left: 15px;
        margin-right: 20px;
    }
}