   <div class="mainDiv">
    <mat-card [ngStyle]="{'background-color': note.color}" *ngFor="let note of notes">
        <img src='{{note.image}}'  *ngIf=" note.image != null">
        <div class="contents">
        <div class="row">
            <h3>{{note.title}}</h3>
          
 <!-- <i class="material-icons" matTooltip="Pin" *ngIf="!pinned" (click)="PinNote()">push_pin</i>
 <i class="material-icons" matTooltip="Pin" *ngIf="pinned" (click)="PinNote()" style="color:gray">push_pin</i> -->
        </div>
        <div style="margin: 20px;">
            <p>{{note.description}}</p>
        </div>
    </div>
    <app-icons [note]="note"></app-icons>
    </mat-card>
</div>

